/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #fdfdfd;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 0px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-default {
  background-color: #f2f2f2;
  border:0px;
}
.navbar-brand-span {
	background-color: #111111;
}
.navbar-default .navbar-brand {
  color: #84bf96;
  width:220px;
  padding-left:40px;
  background-color: #111111;
  border:0px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #84bf96;
  background-color: #333333;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-left:21px;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    background-color: #333333;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  width:220px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:#f2eada;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  text-decoration: none;
  background-color: #111111;
  border-right: 5px solid #84bf96;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #111111;
  border-right: 5px solid #84bf96;
}

.nav-sidebar-img {
	margin-top:-20px;
	padding-left:50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom:0px;
	background: #333333;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
